spring:
  application:
    name: smartlife

  datasource:
    url: jdbc:postgresql://shortline.proxy.rlwy.net:20643/railway
    username: postgres
    password: FnSGTDttyQNPhjDWJHjvqraSewYTUiZW
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
